@charset "utf-8";
/* CSS Document */
a	{
	text-decoration: none;
}
body{
	margin:0px;
	padding:0px;
	font-family: sans-serif;
}
h3{
	text-align:center;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	color:#F13C00;
	margin-bottom:5%;
}
#burg { display: none;}
#welcome-section {
	height: 100vh;
	background-image: url("assets/swirls.gif");
	background-size: cover;
	background-blend-mode: darken;
	display: flex;
	flex-direction: column nowrap;
	align-content: center;
	transition: height ease-in 400ms;
}
.deets {
	display: none;
}
#welcome-section.active {
	height: 40vh;
	z-index: -1;
}
#label.active {
	display: none;
}
#middle {
	transition: all 1000ms;
	position: fixed;
	top: 50vh;
}
#middle.active{
	top: 10vh;
}
#footer{
	margin:3% 10% -15% 10%;
	border:1px solid #f6f8f9;
	border-radius:5px 5px 0px 0px;
	background-color:#f6f8f9;
	padding:1.5%;
}
#footer p{
	font-size: 0.7em;
	color:#014701;
}
#footer a{
	text-decoration:underline;
	color:inherit;
}
#footer a:hover{
	color:#2AFF00;
}
#projects{
	margin:3% 5%;
	border-radius:5px;
	background-color:#f6f8f9;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
#catalogue{
	display:grid;
	grid-template-columns: repeat(3, minmax(90px, 1fr));
	grid-template-rows: repeat(2, 1fr);
	align-self: center;
}
#label{
	margin-top: 50vh;
	display: flex;
	flex-flow: column nowrap;
	align-self: center;
}
#rug{
	padding-top:40px;
	text-align:center;
}
#rug>p {
	color: #014701;
}
#btnHolder{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	margin: 40px 70px;
}
#one{
	background-image:url(./assets/church.png);
	background-size:cover;
}
#two{
	background-image:url(./assets/joes.png);
	background-size:cover;
}
#three{
	background-image:url(./assets/san-wo-canoe.png);
	background-size:cover;
}
#four{
	background-image:url(./assets/tranquil.png);
	background-size:cover;
}
#five{
	background-image:url(./assets/search_phts.png);
	background-size:cover;
}
#six{
	background-image:url(./assets/gravity.png);
	background-size:cover;
}
.prjtBtn{
	background-color:#FFFFFF;
	border:2px solid #F13C00;
	border-radius:4px;
	font-size:17px;
	align-self: center;
	padding:10px;
	width:150px;
	height:40px;
	padding: 2px;
	margin: 30px 0;
}
.prjtBtn:hover{
	background-color:#F13C00;
	color:#FFFFFF;
	cursor: pointer;
}
.banner{
	display: flex;
	flex-flow: column nowrap;
	text-align: center;
}
.banner h1{
	color:#000000;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 1.9em;	
}
.banner p{
	color: #ffffff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:1.2em;
	margin: 0 5px;
	transition: color ease-out 5s;
	transition-delay: 3s;
}
.navbar{
	height:11vh;
	background-color:#ffffff;
	position:fixed;
	width:100%;
	z-index: 1;
}
.nav-holder{
	margin-left:75%;
	background-color:#ffffff;
}
.nav-link{
	display:inline;
	list-style-type:none;
	margin-right:10%;
	font-weight: bold;
}
.nav-link a{
	text-decoration:none;
	color:#014701;
}
.nav-link a:hover{
	color:#07d355;
}
.boxes{
	width:250px;
	height:150px;
	margin:10px;
	border-radius:6px;
	display:flex;
	justify-content:center;
	opacity: 0.7;
}
.boxes:hover {
	cursor: pointer;
	opacity: 1;
}
.boxes a{
	align-self: flex-end !important;
}
.boxes p{
	font-family:sans-serif;
	display: block;
	align-self: flex-end !important;
	background-color:yellow;
	color:black;
	padding:4px;
	height: 15px;
}
.blank-boxes {
	background-color: #868686;
}
.steam {
	position: relative;
	top:0px;
	left: 25px;
	animation: steam 5s linear infinite 3s;
}
.steam:before,.steam:after {
  content: " ";
  position: absolute;
  top: -150px;
  left: 15px;
  border-right: 0px solid transparent;
  border-top: 2px solid #cccccc;
  border-left: 5px solid #cccccc;
  border-bottom: 2px solid transparent;
  width: 20px;
  height: 35px;
  z-index: 4;
	border-radius: 80% 0 10% 10%;
	transform: rotate(168deg) skewY(10deg);
	filter: blur(4px);
}
.steam:after {
	top: -125px;
	left: 8px;
	z-index: 4;
	border-radius: 80% 0 10% 10%;
	filter: blur(4px);
	transform: rotate(315deg) skewY(10deg);
}
@keyframes steam {
	0% { top: 100px; opacity: .075; visibility: visible; }
	20% { top: 80px; opacity: 0.2; }
	40% { top: 60px; opacity: 0.4; }
	60% { top: 40px; opacity: 0.2; }
	80% { top: 20px; opacity: .075; }
	100% { top: 0px; opacity: 0; visibility: hidden; }
}
.rugBtn{
	background-color:#FFFFFF;
	border:2px solid #2AFF00;
	border-radius:3px 3px 30px 30px;
	font-size:15px;
	margin:5%;
	padding:10px;
	height: 50px;
	min-width: 30px;
	transition: min-width 600ms;
}
.rugBtn:hover{
	background-color:#2AFF00;
	color:#FFFFFF;
	cursor: pointer;
	min-width: 10%;
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
.roll {
	display: block;
	overflow: hidden;
	color: #014701 !important;
	white-space: nowrap;
	margin: 0 auto;
	animation: typing 4.5s steps(30, end);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
	to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
	50% { border-color: orange }
}
@media(min-width: 1400px) {
	#welcome-section {
		background-repeat: no-repeat;
		background-size: contain;
	}
}

@media(max-width: 800px) {
	#welcome-section {
		background-repeat: repeat-x;
	}
	.boxes{
		width:auto;
		height:100px;
		margin:6px;
	}
	.boxes p {
		font-size: 10px;	
	}
}

@media(max-width:600px){
	body{
		margin:auto;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#catalogue {
		width: 100%;
	}
	#burg {display: block;}
	#label{
		margin:auto;
	}
	#rug{
		margin: 50px 0;
		padding-top:0px;
		font-size: 0.7em !important;
	}
	#btnHolder{
		flex-flow: row-reverse;
	}
	#welcome-section {
		height: 85vh;
	}
	.rugBtn {
		font-size: 7px;
		margin:5% 2%;
		padding:10px;
		height: 35px;
		border-radius:3px 3px 15px 15px;
	}
	.boxes p {
		font-size: 7px;	
	}
	.rugBtn{
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
	}
	.navbar{
		margin:auto;
		position:relative;
		display:flex;
		flex-direction:row;
		height: 14vh;
	}
	.nav-holder {
		visibility: hidden;
		width:100%;
		text-align:center;
		margin-left:-10%;
		margin-top: -100px;
		transition: margin-top ease-in 1s;
	}
	.nav-holder.active {
		visibility: visible;
		margin-top: 25px;
	}
	.nav-link{
		display:flex;
		flex-direction:column;
		margin:15px 0;
		border:2px solid #FFFFFF;
		border-radius:7px;
		width:100%;
	}
	.nav-link:hover{
		background-color:#2AFF00;
		color:#FFFFFF;
		border-color:#014701;
	}
	.boxes{
		width:auto;
		height:100px;
		margin:6px;
	}
	.prjtBtn{
		display:flex;
		justify-content:center;
		margin:auto;
		font-size: 10px;
		height: 30px;
		width: 90px;
		margin: 20px 0;
	}
	.steam:before, .steam:after {
		left: -5vw;
		top: -100px;
		width: 8px;
  	height: 30px;
	}
	.steam:after {
		left: -7vw;
		top: -80px;
	}
}